.product-item {
  width: 280px; /* Set desired fixed width */
  height: 320px;
  padding: 10px;
  text-align: center;
  user-select: none;
  border: 1px solid #45454531;
  border-radius: 10px;
}
.product-image {
  height: 80%;
  position: relative;
}
.product-image img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  opacity: 1;
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  margin-top: 10px;
}

.product-name {
  margin: 5px 0;
  font-weight: 500;
  font-size: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 30px;
  max-height: 100px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.productPriceCont {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: flex-end;
}
.product-discount {
  font-weight: 700;
  font-size: 1.2rem;
}

.product-price {
  font-size: 0.8rem;
  text-decoration: line-through;
}

.product-rating {
  width: max-content;
  display: flex;
  gap: 3px;
  align-items: center;
  background-color: #11a411;
  color: white;
  padding: 3px;
  border-radius: 8px;
  font-size: 0.8rem;
}
