.product-item {
  width: 250px; /* Set desired fixed width */
  height: 280px;
  padding: 10px;
  text-align: center;
  user-select: none;
  border: 1px solid #45454531;
  border-radius: 10px;
}
.product-image {
  height: 70%;
  position: relative;
}
.product-image img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  opacity: 1;
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  margin-top: 10px;
}

.product-name {
  margin: 5px 0;
  font-weight: 500;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 30px;
  max-height: 100px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.productPriceCont {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: flex-end;
}
.product-discount {
  font-weight: 700;
  font-size: 1.2rem;
}

.product-price {
  font-size: 0.8rem;
  text-decoration: line-through;
}

.product-rating {
  width: max-content;
  display: flex;
  gap: 3px;
  align-items: center;
  background-color: #11a411;
  color: white;
  padding: 3px;
  border-radius: 8px;
  font-size: 0.8rem;
}

@media only screen and (min-device-width: 270px) and (max-device-width: 1200px) {
  .product-name {
    font-size: 0.8rem;
    margin: 0;
  }

  .product-discount {
    font-size: 1rem;
  }

  .product-price {
    font-size: 0.7rem;
  }

  .product-rating {
    gap: 3px;
    padding: 3px;
    border-radius: 4px;
    font-size: 0.6rem;
  }
}

@media only screen and (min-device-width: 270px) and (max-device-width: 500px) {
  .product-item {
    width: 150px;
    height: 150px;
  }
  .product-name {
    font-size: 0.4rem;
    line-height: 5px;
    margin: 0;
  }

  .product-discount {
    font-size: 0.6rem;
  }

  .product-price {
    font-size: 0.4rem;
  }

  .product-rating {
    gap: 3px;
    padding: 3px;
    border-radius: 4px;
    font-size: 0.4rem;
  }
  .productPriceCont {
    gap: 5px;
  }
}
