.navbarContainerMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
}
.searchInput {
  width: 80%;
  height: 5vh;
  border: 1px solid #0000002d;
  border-radius: 10px;
  padding: 8px 14px;
  font-family: inherit;
}
.navbarRoutes {
  padding: 8px 24px;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}
.navbarLink {
  text-decoration: none;
  color: black;
}
.cartIcon {
  position: relative;
  padding: 10px;
  font-size: 40px;
}
.cartCount {
  position: absolute;
  top: 5px;
  right: 0;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
