.navbarContainerMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
}
.searchInput {
  width: 70%;
  height: 5vh;
  border: 1px solid #0000002d;
  border-radius: 10px;
  padding: 8px 14px;
  font-family: inherit;
}
.navbarRoutes {
  padding: 8px 24px;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}
.navbarLink {
  text-decoration: none;
  color: black;
}
.cartIcon {
  position: relative;
  padding: 10px;
  font-size: 40px;
}
.cartCount {
  position: absolute;
  top: 5px;
  right: 0;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.userActions {
  display: flex;
  gap: 15px;
  align-items: center;
}
.btnlogout {
  height: max-content;
  width: max-content;
  padding: 12px 20px;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.brandLogo {
  font-weight: 900;
  font-size: 1.6rem;
}

.navbarLink {
  text-decoration: none;
  color: #d8457c;
  font-weight: bold;
  /* font-size: 30px; */
}
.navbarLink::after {
  margin-top: 10px;
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background-color: #602c3f;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}
.navbarLink:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.active {
  color: #242021;
}
.active::after {
  margin-top: 10px;
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background-color: #602c3f;
  transform: scaleX(1);
  transform-origin: left;
}

/*  */
.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(81, 30, 30);
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.subnav:hover .subnavbtn {
  background-color: #fcfcfc;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #fcfcfc;
  width: 100%;
  padding: 20px;
  box-shadow: 0px 10px 10px #dad9d9;
  box-sizing: border-box;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: #242021;
  padding: 20px;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #9c385d;
  color: #fcfcfc;
}

.subnav:hover .subnav-content {
  display: flex;
  justify-content: center;
}
