.prodContItem {
  padding: 15px;
}
.prodContItemInfo {
  display: flex;
  align-items: center;
}
hr {
  border-color: #d3d3d345;
}
.prodContItemImage {
  position: relative;
  margin: 15px;
  width: 180px;
  height: 180px;
}
.prodContItemImage img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  opacity: 1;
  max-width: 100%;
  max-height: 100%;
}
.prodContItemData {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prodContRating {
  width: max-content;
  display: flex;
  gap: 3px;
  align-items: center;
  background-color: #11a411;
  color: white;
  padding: 5px;
  border-radius: 8px;
}

.prodContItemHighlightsCont {
  margin: 10px 0;
  gap: 10px;
  display: flex;
  font-size: 0.8rem;
  font-weight: bold;
}
.prodContItemHighlightsCont ul {
  margin: 0;
  font-weight: 400;
  padding-left: 20px;
}
.prodContItemHighlightsCont ul li {
  margin-bottom: 5px;
}
.prodContItemHighlightsCont ul ::marker {
  color: gray;
}

.prodContItemInfoDetails {
  max-width: 600px;
}
.prodContItemPrice {
  text-align: right;
}
