.homeContainer {
  padding: 10px;
}
.wrapper {
  max-height: 220px;
  border: 1px solid #ddd;
  display: flex;
  overflow-x: auto;
}
.wrapper::-webkit-scrollbar {
  width: 0;
}
.items {
  min-width: 300px;
  height: 300px;
  text-align: center;
  /* background-color: #ddd; */
  border: 1px solid #a3a3a358;
  padding: 10px;
  border-radius: 10px;
}
.imgCont {
  height: 80%;
  position: relative;
  margin-bottom: 10px;
}
.Title {
  font-size: 28px;
  font-weight: bold;
  margin: 10px 0;
}
.Title::after {
  margin-top: 10px;
  content: "";
  display: block;
  height: 3px;
  width: 80px;
  background-color: #d8457c;
  transform-origin: left;
  transition: transform 0.3s ease;
  border-radius: 10px;
}
.quoteBanner {
  height: 30vh;
  font-size: 34px;
  position: relative;
  font-weight: bold;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://images.unsplash.com/photo-1555529669-26f9d103abdd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
  background-size: cover;
}
.quoteBanner::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}
.quoteBanner::after {
  content: "Let's Shop Beyond Boundaries";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.container {
  padding: 30px;
}
.forUserContainer {
}
.forUserContents {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}

.bestSellerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.bestSellerBanner {
  min-width: 300px;
  height: 450px;
  background-color: lightgrey;
}
.bestSellerProd {
  width: 300px;
  height: 200px;
  background-color: lightgrey;
}
.topBestSellerContent {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/*  */
.companyPolicyInfo {
  display: flex;
  justify-content: center;
  padding: 18px 24px;
}
.companyInfo {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  /* border: 1px solid #000; */
  align-items: center;
  width: 30%;
  height: 300px;
  padding: 10px;
}
.companyInfoIcon {
  font-size: xxx-large;
}
.companyInfoHead {
  font-size: 18px;
  font-weight: 700;
  padding: 10px;
}
.companyInfoText {
  font-size: 14px;
}

/* .imageCont {
  height: 100%;
  width: 100%;
} */
